* {padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background-color: pink;
}
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "ar as"
    "f f";
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
article{
    grid-area: ar;
}
aside{
    grid-area: as;
}
footer{
    grid-area: f;
}


article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 8px;
}

.termek img{
    width: 100%;
}

.termek {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template-rows: auto auto auto 50px;
    height: 100%;

}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    gap: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

aside{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 223px;
    margin: 7px;
}

.vege{
    color: red;
}

.kosar{
    height: 100%;
    display: grid;
    grid-template-rows: 25px 1fr 25px;
   
}

.kivalsztott{
    border-bottom: 1px solid red;
}

@media screen and (max-width:800px) {
    article{
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (max-width:500px) {
    main {
        grid-template-columns:1fr;
        grid-template-areas: 
        "h"
        "n"
        "as"
        "ar"
        "f";
    }
    article{
        grid-template-columns: 1fr;

    }
}
